*{
    transition: all 0.3s;
    
}
body{
    background: slategray;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: calibri;
    font-size: 120%;
}
.container{
  width: 98vw;  
  height: 97vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  margin-top: 1%;
}
.header{
    background: white;
    min-width: 300px;
    width: 70%;
    padding: 10px;
    max-width: 600px;
    margin: 5px;
}
.category{
    opacity: 0.3;
    text-align: left;
}
.image{
   object-fit: cover; 
   height: 200px;
   width: 100%;
}
.btn{
    background: white;
    width: 60%;
    padding: 10px;
    margin: 5px;
    max-width: 550px;
}
.btn:hover{
    transform: scale(1.05);
    cursor: pointer;
}